In [1]:
import pandas as pd
df = pd.read_csv("Top 5 Categories.csv")
df

           Category  Score
0           animals  74965
1           cooking  64756
2           culture  66579
3              dogs  52511
4         education  57436
5           fitness  55323
6              food  66676
7    healthy eating  69339
8   public speaking  49264
9           science  71168
10           soccer  57783
11         studying  54269
12       technology  68738
13           tennis  50339
14           travel  64880
15         veganism  49619

In [2]:
df = df.groupby('Category')['Score'].sum().sort_values(ascending=False)
df

Category
animals            74965
science            71168
healthy eating     69339
technology         68738
food               66676
culture            66579
travel             64880
cooking            64756
soccer             57783
education          57436
fitness            55323
studying           54269
dogs               52511
tennis             50339
veganism           49619
public speaking    49264
Name: Score, dtype: int64

In [3]:
df.drop(df.index[5:], inplace=True)

In [6]:
df.to_csv("Top 5 Categoriess.csv")